<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
    <style>
    .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    </style>
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                    <p class="text-white-50 mb-5">Please enter your username and image!</p>
                    <form method="post" enctype="multipart/form-data">
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="text" name="username"  id="username" class="form-control form-control-lg" />
                        <label class="form-label" for="username">Username</label>
                        </div>
        
                        <div data-mdb-input-init class="form-outline form-white mb-4 position-relative">
                            <input type="file" name="fingerprint"  id="fingerprint" class="form-control form-control-lg pe-5" accept="image/*" />
                            <label class="form-label" for="fingerprint">File</label>
                            <span onclick="removeImage()" style="
                                position: absolute;
                                top: 50%;
                                right: 15px;
                                transform: translateY(-50%);
                                cursor: pointer;
                                font-size: 1.2rem;
                                color: #dc3545;">✕</span>
                          </div>
        
                        
        
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                    </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
  ></script>
  
  <script>
      function removeImage() {
        const fileInput = document.getElementById('fingerprint');
        fileInput.value = '';
      }
    </script>

</body>
</html>